<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>プロフィールページ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>ようこそ、{{ username }} さんのデリートページ</h1>

        <!-- ユーザーの口コミ評価一覧 -->
        <h2>あなたの口コミ一覧 消したい口コミを選ぶ</h2>
        {% if evaluation %}
        <form method="POST">
        <table>
            <thead>
                <tr>
                    <!--  各段にチェックリストを追加 -->
                    <th>選択</th>
                    <th>訪れた場所</th>
                    <th>場所の評価</th>
                    <th>態度の評価</th>
                    <th>価格の評価</th>
                    <th>スピードの評価</th>
                    <th>画像</th>
                </tr>
            </thead>
            <tbody>
                {% for review in evaluation %}
                <tr>
                    <td><input type="checkbox" name="delete" value="{{ review[0] }}"></td>
                    <td>{{ review[2] }}</td>
                    <td>{{ review[3] }}</td>
                    <td>{{ review[4] }}</td>
                    <td>{{ review[5] }}</td>
                    <td>{{ review[6] }}</td>
                    <td>
                        {% if review[7] %}
                        <img src="{{ url_for('static', filename=review[7].split('static/')[1]) }}" alt="Review Image" width="100">
                        {% else %}
                        画像なし
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <button type="submit" class="btn logout-btn">選択した口コミを削除</button>
        </form>

        {% else %}
        <p>まだ口コミがありません。</p>
        {% endif %}

        <!-- 口コミ追加ページへのリンク -->
        <div class="actions">
            <a href="{{ url_for('main.home') }}" class="btn">全ユーザの口コミを見る</a>
            <a href="{{ url_for('main.home') }}" class="btn">口コミ一覧に戻る</a>

        </div>
    </div>
</body>
</html>